{#=====================================================
  Creature List page
=====================================================#}

{% extends 'pages/_base.jinja' %}


{% block content %}

    <h2>todotable</h2>

    <section id="creatures">

        {% for creature in creatures %}

            <div class="todotable">
                <h3>{{ todotable.name }}</h3>
                <p>Species: <strong>{{ todotable.priority }}</strong></p>
            </div>

        {% else %}

            <p>No task!</p>

        {% endfor %}

    </section>

{% endblock %}

